<%- include("partials/header"); -%>
<h1>Home</h1><p><br>
<div class="home">
    <ul>
        <li>
            <h4>Hi Guys! This is Akhmadjon Zukhriddinov's personal Blogs webpage🧡</h4>
        </li>
    </ul>
</div> </p>
<br>
<p> <%= startingContent %> </p>

    <% posts.forEach(function(post) {%>

        <h1> <%= post.title %> </h1>

        <p> 
        <%= post.content.substring(0, 100) + "..." %> 
        <a href="/posts/<%=post._id%>" >Read More</a>
        </p>

    <% }); %> 

<%- include("partials/footer"); -%> 